# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter/Dart
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
/android/app/build/
/android/build/
/android/gradle
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/.gradle/

# iOS
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/build/
/ios/Flutter/App.framework
/ios/Flutter/Debug-iphonesimulator.xcconfig
/ios/Flutter/Release-iphonesimulator.xcconfig
/ios/Flutter/ephemeral.xcconfig
/ios/Flutter/Generated.xcconfig

# Build
app-release.apk
*.keystore

# Lainnya
/local.properties
